import os
import feedparser
import tweepy

# Autenticação
auth = tweepy.OAuth1UserHandler(
    os.environ["API_KEY"],
    os.environ["API_SECRET"],
    os.environ["ACCESS_TOKEN"],
    os.environ["ACCESS_SECRET"]
)
api = tweepy.API(auth)

RSS_URL = "https://g1.globo.com/rss/g1/"
POSTED = set()

def run():
    feed = feedparser.parse(RSS_URL)
    for entry in feed.entries[:1]:
        tweet = f"{entry.title}\n{entry.link}"
        api.update_status(tweet)

if __name__ == "__main__":
    run()
